@charset "UTF-8";
/* Google Fontes escolhidas
font-family: 'Cinzel Decorative', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Kalam', cursive;
font-family: 'Ubuntu', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none !important;
}
/* Variáveis GLOBAIs das CORES da Pagina */
:root{
    --transp: transparent;
    --branco: rgb(255, 255, 255);
    --branco02: rgb(241, 241, 241);
    --gelo: rgba(235, 238, 246);
    --gelo2: rgb(230, 231, 233);
    --gelo3: rgb(213, 212, 212);
    --cinza: rgba(55,54,54,1);
    --preto: rgb(0, 0, 0);
    --preto02: rgba(0,0,0,0.2);
    --preto04: rgba(0,0,0,0.4);
    --preto06: rgba(0,0,0,0.6);
    --preto08: rgba(0,0,0,0.8);
    --laranja02: rgb(255, 243, 205);
    --gold: rgba(255,215,0,1);
    --laranja05: rgba(240,191,76,1);
    --laranja07: rgb(237, 156, 40);
    --vermelho02: rgb(248, 215, 218);
    --vermelho05: rgb(210, 50, 45);
    --vermelho08: rgba(172,2,2,1);
    --verde01: rgb(209, 231, 221);
    --verde02: rgb(71, 164, 71);
    --verde03: rgba(27,74,0,1);
    --verde05: rgba(16,44,0,1);
    --verde09: rgba(6,16,0,1);
    --azul001: rgb(207, 226, 255);
    --azul002: rgb(212, 222, 247);
    --azul003: rgb(159, 167, 189);
    --azul004: rgb(163, 198, 251);
    --azul01: rgb(91, 192, 222);
    --azul02: rgb(0, 136, 204);
    --azul03: rgb(13, 110, 253);
    --azul04: rgb(57, 123, 254);
    --azul05: rgb(4, 9, 170);
    --azul06: rgb(25, 32, 57);
    --azul07: rgb(30, 39, 70);
    --azul08: rgb(5, 35, 57);
    --azul09: rgb(19, 27, 56);
    --azul10: rgb(1, 13, 21);
}
body{
    /* min-height: 100vh; */
    background-color: var(--preto) !important;
    color: var(--azul04) !important;
}
/* ============================================================================================ */
/********************* INICIO do NAVBAR do ADMINISTRATIVO - Site Animes *************************/
.navbar{
    /* position: fixed; */
    /* margin-top: 20px; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azul10);
    color: var(--azul04);
    box-shadow: 0px 0px 10px 0px var(--azul04);
    padding: 5px 15px;
    font-size: 17px;
    top: 0;
    z-index: 1;
}
.navbar_content{
    display: flex;
    align-items: center;
}
.bars{
    margin: 0 20px 0 30px;
    cursor: pointer;
    font-size: 1.7em;
}
.notification{
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.2em;
}
.logo{
    height: 40px;
}
.notification,
.avatar{
    position: relative;
    cursor: pointer;
}
.notification .number{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--gelo);
    color: var(--azul08);
    font-size: 13px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -10px;
    top: -10px;
}
.avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* INICIO dropdown do navbar */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    box-shadow: 0px 4px 16px 0px var(--azul04);
    background-color: var(--gelo);
    color: var(--azul09);
    width: 230px;
    border-radius: 5px;
}
/* QUANDO A CLASSE É COLOCADA JUNTO A CLASSE ANTERIOR SEM ESPAÇO, indica q as DUAS classes PERTENCEM ao mesmo ELEMENTO */
.dropdown_menu.active{
    display: block;
}
.dropdown_content{
    max-height: 400px;
    overflow-y: auto;
}
.dropdown_menu li,
.dropdown_menu .item{
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--azul04);
    cursor: pointer;
    font-size: 14px;
}
.dropdown_menu li img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
}
/* NESTE TEXTO FOI COLOCADO UMA QUEBRA AUTOMATICA DE LINHA */
.dropdown_menu li .msg_text{
    font-style: italic;
    text-overflow: ellipsis;/* será colocado (...) no fim da linha */
    white-space: nowrap;/* não vai quebrar a linha */
    overflow: hidden;/* tudo q não couber na div será ocultado */
    padding-left: 5px;
}
.dropdown_menu li:hover .msg_text{
    white-space: pre-wrap;/* colocado para exibir TODO o texto ao invés d quebrar a linha (quando passar o mouse) */
}
/* Menu DropDown do PERFIL do usuário ------------------------------------------------------------*/
.dropdown_menu li:hover,
.dropdown_menu .item:hover{
    background-color: #e5dcdc;
    border-radius: 5px;
}
.dropdown_menu .item a{
    padding-right: 10px;
    text-decoration: none;
    font-size: 1rem;
}
.dropdown_menu.setting{
    width: 150px;
}
/* DIV com as definições da parte central da pg ADMS, começa no NAVBAR e termina no FOOTER  */
.div_corpo_pg{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/*------------------------------- FIM do NAVBAR do Site Animes --------------------------------*/

/* =========================================================================================== */
/********************************* INICIO SIDEBAR (Barra Lateral) ******************************/
.aside_container {
    display: flex;
    width: 300px;
    height: 500px;
    background-color: var(--azul10);
    border: 1px dotted var(--gold);
    padding: 1em;
}




/*--------------------------------- FIM SIDEBAR (Barra Lateral) --------------------------------*/
/* ============================================================================================ */
/*********************************** INICIO do MAIN da VIEW *************************************/
.main_container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: var(--azul10);
    padding: 1em;
    border: 1px dotted var(--gold);
}

/*-------------------------------------- FIM do MAIN da VIEW -----------------------------------*/


/* ============================================================================================ */
/************************************* INICIO FOOTER (Rodapé) ***********************************/


/*------------------------------------ FIM FOOTER (Rodapé) ------------------------------------*/


/* =========================================================================================== */
/************************************** INICIO CLASSE ALERT ************************************/
.msg_alert{
    /* width: 100%; */
    justify-content: center;
    /* align-items: center; */
}
.msg_alert p{
    padding: 0px 10px;
    width: max-content;
}
/* Alerta específico para msg senha */
.msg_alert_pass p{
    padding: 0px 10px;
    width: max-content;
    margin-left: 50px;
}
/*------------------------------------- FIM do MAIN da VIEW -----------------------------------*/


/* =========================================================================================== */
/********************************* INICIO DEFINIÇÕES GENÉRICAS *********************************/
/* Definições da VIEW Dashboard.php ************************************************************/
.box{
    position: relative;
    display: flex;
    width: 23%;
    height: 150px;
    margin: 5px 1%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0px 4px 6px 0px var(--preto);
}
.box_first{
    background-color: var(--azul08);
}
.box_second{
    background-color: var(--dark);
}
.box_third{
    background-color: var(--verde05);
}
.box_fourth{
    background-color: var(--gold);
}
.box span{
    margin: 5px 0;
    font-size: 17px;
    position: relative;
}
@media (max-width: 1024px) {
    .box{
        width: 48%;
    }
}
@media (max-width: 768px) {
    .box{
        width: 98%;
    }
}

/* ============================================================================================== */
/* Definições gerais do LAYOUT das VIEWs LISTAR **************************************************/
.wrapper_list{
    width: 100%;
    background-color: var(--azulEscuro);
}
.row_list{
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    padding: 20px;
    margin: 35px;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 1px 4px 16px 1px var(--preto);
}
.top_list{
    width: 100%;
    overflow: hidden;
}
.title_content{
    align-self: center;
    text-align: center;
    padding: 0px 16px;
}
.title_h2{
    text-shadow: 0px 1px 3px #000;
    color: var(--preto);
    font-size: 2.5rem;
    font-weight: 700;
}
/* Formulário de pesquisa das views listar **********************************************************/
.div_row_form{
    width: 100%;
    display: flex;
    margin: 20px 0px 5px 0px;
}
.form_pesquisar{
    width: 100%;
    display: flex;
}
.row_form_pesquisar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_row_msg_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.top_list_right{
    padding: 0px;
    text-align: center;
}
/* Definições gerais das TABELAS *****************************************************************/
.table_list{
    /* margin-top: 15px; */
    width: 100%;
    box-shadow: 0px 4px 6px 0px var(--preto);
}
.table_list .list_head{
    padding: 10px;
    text-align: center;
    border: 1px solid var(--preto);
}
.table_list .list_head .list_head_content{
    background-color: var(--gelo);
    color: var(--azulScuro);
    padding: 10px;
    text-align: center;
}
.table_list .list_body{
    /* background-color: var(--gelo2); */
    /* color: var(--azulEscuro); */
    padding: 8px;
    text-align: center;
}
.table_list .list_body .list_body_content{
    /* background-color: var(--gelo3); */
    color: var(--azulEscuro);
    padding: 8px;
    text-align: center;
}
@media (max-width: 550px) {
    .tb_sm_none,
    .tb_md_none,
    .tb_lg_none{
        display: none;
    }
}
@media (max-width: 790px) {
    .tb_md_none,
    .tb_lg_none{
        display: none;
    }
}
@media (max-width: 1024px) {
    .tb_lg_none{
        display: none;
    }
}
@media (max-width: 1290px) {
    .tb_xxl_none{
        display: none;
    }
}

/* INICIO do Formulário ****************************************************************************/
/* Definições gerais do LAYOUT das VIEWs com Formulários ******************************************/
.wrapper_form{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 35px;
    /* margin: 35px; */
    background-color: var(--azulEscuro);
}
.row_form{
    display: flex;
    justify-content: center;
    width: 50rem;
    background-color: var(--branco);
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 1px 4px 16px 1px var(--preto);
}
.form_adms{
    width: 100%;
    align-items: flex-start;
    position: relative;
    padding: 20px;
    margin: .5em auto 0 auto;
}


/************************************ FIM DEFINIÇÕES GENÉRICAS *********************************/