@charset "UTF-8";
/* Google Fontes escolhidas
font-family: 'Cinzel Decorative', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Kalam', cursive;
font-family: 'Ubuntu', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none !important;
    
}
/* Variáveis GLOBAIs das CORES da Pagina */
:root{
    --transp: transparent;
    --branco: rgb(255, 255, 255);
    --branco02: rgb(241, 241, 241);
    --gelo: rgba(235,238,246,1);
    --gelo2: rgb(230, 231, 233);
    --gelo3: rgb(213, 212, 212);
    --cinza: rgba(55,54,54,1);
    --preto: rgb(0, 0, 0);
    --preto02: rgba(0,0,0,0.2);
    --preto04: rgba(0,0,0,0.4);
    --preto06: rgba(0,0,0,0.6);
    --preto08: rgba(0,0,0,0.8);
    --laranja02: rgb(255, 243, 205);
    --gold: rgba(255,215,0,1);
    --laranja05: rgba(240,191,76,1);
    --laranja07: rgb(237, 156, 40);
    --vermelho02: rgb(248, 215, 218);
    --vermelho05: rgb(210, 50, 45);
    --vermelho08: rgba(172,2,2,1);
    --verde01: rgb(209, 231, 221);
    --verde02: rgb(71, 164, 71);
    --verde03: rgba(27,74,0,1);
    --verde05: rgba(16,44,0,1);
    --verde09: rgba(6,16,0,1);
    --azul001: rgb(207, 226, 255);
    --azul002: rgb(212, 222, 247);
    --azul003: rgb(159, 167, 189);
    --azul004: rgb(163, 198, 251);
    --azul01: rgb(91, 192, 222);
    --azul02: rgba(13,110,253,1);
    --azul03: rgb(57, 123, 254);
    --azul04: rgb(0, 136, 204);
    --azul05: rgba(4,9,170,1);
    --azul06: rgb(25, 32, 57);
    --azul07: rgb(30, 39, 70);
    --azul08: rgba(5,35,57,1);
    --azul09: rgb(19, 27, 56);
    --azul10: rgba(1,13,21,1);
}
body{
    /* min-height: 100vh; */
    background-color: var(--preto) !important;
    color: var(--azul04);
}
/* ============================================================================================ */
/****************************** INICIO do NAVBAR do Site Animes *********************************/
.navbar{
    /* position: fixed; */
    margin-top: 7px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azul10);
    color: var(--azul04);
    box-shadow: 0px 0px 10px 0px var(--azul04);
    padding: 5px 15px;
    font-size: 17px;
    /* top: 0; */
    z-index: 1;
}
.navbar_content{
    display: flex;
    align-items: center;
}
.bars{
    margin: 0 10px 0 30px;
    cursor: pointer;
    font-size: 1.7em;
}
.notification{
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.2em;
}
.logo{
    height: 40px;
}
.notification,
.avatar{
    position: relative;
    cursor: pointer;
}
.notification .number{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--gelo);
    color: var(--azul04);
    font-size: 13px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -10px;
    top: -1px;
}
.avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* INICIO dropdown do navbar */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    box-shadow: 0px 2px 10px 0px var(--azul04);
    background-color: var(--azul10);
    color: var(--azul04);
    width: 230px;
    border-radius: 5px;
}
/* QUANDO A CLASSE É COLOCADA JUNTO A CLASSE ANTERIOR SEM ESPAÇO, indica q as DUAS classes PERTENCEM ao mesmo ELEMENTO */
.dropdown_menu.active{
    display: block;
}
.dropdown_content{
    max-height: 400px;
    overflow-y: auto;
}
.dropdown_menu li,
.dropdown_menu .item{
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--azul04);
    cursor: pointer;
    font-size: 14px;
}
.dropdown_menu li img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
}
/* NESTE TEXTO FOI COLOCADO UMA QUEBRA AUTOMATICA DE LINHA */
.dropdown_menu li .msg_text{
    font-style: italic;
    text-overflow: ellipsis;/* será colocado (...) no fim da linha */
    white-space: nowrap;/* não vai quebrar a linha */
    overflow: hidden;/* tudo q não couber na div será ocultado */
    padding-left: 5px;
}
.dropdown_menu li:hover .msg_text{
    white-space: pre-wrap;/* colocado para exibir TODO o texto ao invés d quebrar a linha (quando passar o mouse) */
}
/* Menu DropDown do PERFIL do usuário ------------------------------------------------------------*/
.dropdown_menu li:hover,
.dropdown_menu .item:hover{
    background-color: var(--azul09);
    border-radius: 5px;
}
.dropdown_menu .item a{
    padding-right: 10px;
    text-decoration: none;
    font-size: 1rem;
}
.dropdown_menu.setting{
    width: 150px;
}
/********************************* FIM do NAVBAR do Site Animes *********************************/


/* ============================================================================================ */
/*********************************** INICIO do MAIN da VIEW *************************************/
.corpo_pg{
    display: flex;
    width: 100%;
    box-shadow: 0px 2px 10px 0px var(--azul04);
}

/************************************** FIM do MAIN da VIEW ************************************/


/* =========================================================================================== */
/********************************* INICIO SIDEBAR (Barra Lateral) ******************************/
/* .aside_container{
    display: block;
    width: 20%;
    background-color: var(--azul10);
    box-shadow: 3px 3px 3px 0px var(--azul04);
    z-index: 1;
} */
.sidebar{
    position: sticky;
    top: 60px;/*testar depois, ainda não muda nada */
    height: calc(100vh - 100px);
    width: 60px;
    background-color: var(--azul10);
    /* z-index: 3; */
    overflow: auto;/* para exibir a barra de rolagem se for necessário */
    overflow-x: hidden;
    flex-shrink: 0;
    box-shadow: -3px 3px 6px 0px var(--azul04);
    transition: 0.3s width ease-in-out;
}
@media (max-width: 768px) {
    .sidebar{
        width: 60px;
        position: fixed;
        z-index: 1;
        width: 0;
    }
}
.sidebar:hover,
.sidebar.active{
    /* width: 250px; */
    width: fit-content;
}
.sidebar a{
    color: var(--azulClaro);
    text-decoration: none;
}
.sidebar a:hover{
    background-color: var(--azulEscuro);
    color: var(--azulClaro);
    text-decoration: none;
}

/********************************** FIM SIDEBAR (Barra Lateral) *********************************/


/* ============================================================================================ */
/************************************* INICIO FOOTER (Rodapé) ***********************************/
.rodape {
    margin-bottom: 7px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--azul10);
    color: var(--azul04);
    box-shadow: 0px 0px 10px 0px var(--azul04);
    padding: 20px 35px;
    z-index: 1;
    text-align: center;
}

/************************************** FIM FOOTER (Rodapé) *************************************/


/* =========================================================================================== */
/************************************** INICIO CLASSE ALERT ************************************/
.msg_alert{
    /* width: 100%; */
    justify-content: center;
    /* align-items: center; */
}
.msg_alert p{
    padding: 0px 10px;
    width: max-content;
}
/* Alerta específico para msg senha */
.msg_alert_pass p{
    padding: 0px 10px;
    width: max-content;
    margin-left: 50px;
}
/************************************** FIM do MAIN da VIEW ************************************/


/* =========================================================================================== */
/********************************* INICIO DEFINIÇÕES GENÉRICAS *********************************/
.align_center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.t_320{
    width: 320px;
}




/************************************ FIM DEFINIÇÕES GENÉRICAS *********************************/