@charset "UTF-8";
/* Google Fontes escolhidas
font-family: 'Cinzel Decorative', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Kalam', cursive;
font-family: 'Ubuntu', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none !important;
}
/* Variáveis GLOBAIs das CORES da Pagina */
:root{
    --transp: transparent;
    --branco: rgb(255, 255, 255);
    --branco02: rgb(241, 241, 241);
    --gelo: rgba(235,238,246,1);
    --gelo2: rgb(230, 231, 233);
    --gelo3: rgb(213, 212, 212);
    --cinza: rgba(55,54,54,1);
    --preto: rgb(0, 0, 0);
    --preto02: rgba(0,0,0,0.2);
    --preto04: rgba(0,0,0,0.4);
    --preto06: rgba(0,0,0,0.6);
    --preto08: rgba(0,0,0,0.8);
    --laranja02: rgb(255, 243, 205);
    --gold: rgba(255,215,0,1);
    --laranja05: rgba(240,191,76,1);
    --laranja07: rgb(237, 156, 40);
    --vermelho02: rgb(248, 215, 218);
    --vermelho05: rgb(210, 50, 45);
    --vermelho08: rgba(172,2,2,1);
    --verde01: rgb(209, 231, 221);
    --verde02: rgb(71, 164, 71);
    --verde03: rgba(27,74,0,1);
    --verde05: rgba(16,44,0,1);
    --verde09: rgba(6,16,0,1);
    --azul001: rgb(207, 226, 255);
    --azul002: rgb(212, 222, 247);
    --azul003: rgb(159, 167, 189);
    --azul004: rgb(163, 198, 251);
    --azul01: rgb(91, 192, 222);
    --azul02: rgba(13,110,253,1);
    --azul03: rgb(57, 123, 254);
    --azul04: rgb(0, 136, 204);
    --azul05: rgba(4,9,170,1);
    --azul06: rgb(25, 32, 57);
    --azul07: rgb(30, 39, 70);
    --azul08: rgba(5,35,57,1);
    --azul09: rgb(19, 27, 56);
    --azul10: rgba(1,13,21,1);
}
body{
    /* min-height: 100vh; */
    background-color: var(--preto) !important;
    color: var(--azul04);
}
/* ============================================================================================ */
/****************************** INICIO do NAVBAR do Site Animes *********************************/
.navbar{
    /* position: fixed; */
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azulScuro);
    color: var(--azulClaro);
    box-shadow: 0px 0px 10px 0px var(--azulClaro);
    padding: 5px 15px;
    font-size: 17px;
    top: 0;
    z-index: 1;
}
/********************************* FIM do NAVBAR do Site Animes *********************************/
/* ============================================================================================ */
/*********************************** INICIO do MAIN da VIEW *************************************/





/************************************** FIM do MAIN da VIEW ************************************/
/* =========================================================================================== */
/********************************* INICIO SIDEBAR (Barra Lateral) ******************************/





/********************************** FIM SIDEBAR (Barra Lateral) *********************************/
/* ============================================================================================ */
/************************************* INICIO FOOTER (Rodapé) ***********************************/






/************************************** FIM FOOTER (Rodapé) *************************************/
/* =========================================================================================== */
/************************************** INICIO CLASSE ALERT ************************************/
.msg_alert{
    /* width: 100%; */
    justify-content: center;
    /* align-items: center; */
}
.msg_alert p{
    padding: 0px 10px;
    width: max-content;
}
/* Alerta específico para msg senha */
.msg_alert_pass p{
    padding: 0px 10px;
    width: max-content;
    margin-left: 50px;
}
/************************************** FIM do MAIN da VIEW ************************************/
/* =========================================================================================== */
/********************************* INICIO DEFINIÇÕES GENÉRICAS *********************************/





/************************************ FIM DEFINIÇÕES GENÉRICAS *********************************/